{% extends 'base.html' %}
{% block title %}{{ page_title }}{% endblock %}
{% block content %}

<section class="section">

    <div class="container">

        <div class="columns is-centered">
            <div class="column is-half">
                <div class="box">

                    <form method="post">
                        {% csrf_token %}

                        <div class="columns is-centered mb-0">
                            <div class="column px-4 pb-0">

                                {% if messages %}
                                <ul>
                                    {% for message in messages %}
                                    <li {% if message.tags %} class="has-text-{{ message.tags }}" {% endif %}>
                                        {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Important: {% endif %}
                                        {{ message }}
                                    </li>
                                    {% endfor %}
                                </ul>
                                {% endif %}

                                <header class="header title is-4"> Login </header>

                                <div class="field my-4">
                                    <label class="label">Username</label>
                                    <div class="control has-icons-left">
                                        <input class="input" name="username" id="id_username" type="text" maxlength="30"
                                            required>
                                        <span class="icon is-small is-left">
                                            <i class="fas fa-user"></i>
                                        </span>
                                    </div>
                                </div>

                                <div class="field my-4">
                                    <label class="label">Password</label>
                                    <div class="control has-icons-left has-icons-right">
                                        <input class="input" name="password" id="id_password" type="password" required>
                                        <span class="icon is-small is-left">
                                            <i class="fas fa-key"></i>
                                        </span>
                                        <span class="icon is-small is-right toggle-password" data-target="id_password"
                                            style="pointer-events: all; cursor: pointer;">
                                            <i class="fas fa-eye toggle-icon"></i>
                                        </span>
                                    </div>
                                </div>
                                
                                <!-- Remember me checkbox on the left -->
                                <div class="field my-4">
                                    <label class="checkbox">
                                        <input type="checkbox" name="remember_me">
                                        Remember me
                                    </label>
                                </div>

                                <!-- Full width Login Button -->
                                <div class="field my-4">
                                    <button class="button rr-primary rr-white is-fullwidth" type="submit" value="login">
                                        <i class="fas fa-sign-in-alt mr-1"></i>Login
                                </div>

                                <!-- Centered Sign Up Link at the bottom -->
                                <div class="has-text-centered mt-4">
                                    <p class="help">
                                        Don't have an account? <a href="{% url 'signup' %}">Sign Up</a>
                                    </p>
                                </div>

                            </div>
                        </div>

                        <input type="hidden" name="next" value="{% url 'home' %}">

                    </form>

                </div>
            </div>
        </div>


    </div>
</section>

{% endblock %}
