
{% extends "base.html" %}

{% block content %}

<br>

<section class="hero rr-primary">
    <div class="hero-body">
        <div class="container">
            <h1 class="title rr-white">Accepted Applicants</h1>
            <p class="rr-white">
                Track upcoming assessments and initiate candidate interviews.
            </p>
        </div>
    </div>
</section>


<section class="section">

    <div class="container">

        <div class="card">

            <div class="card-content">

                <div class="table-container">

                    <table class="accepted-applicant-table">

                        <thead>
                            <tr>
                                <th class="rr-white">Name</th>
                                <th class="rr-white">Status</th>
                                <th class="rr-white">Pack</th>
                                <th class="rr-white">Interview Date</th>
                                <th class="rr-white">Start Interview</th>
                            </tr>
                        </thead>


                        <tbody>

                        {% for apps in grouped_applicants %}

{% with application=apps.0 %}

<tr>

<td>
    {{ application.user.username }}
</td>

<td>
    {{ application.status }}
</td>

<td>
    {% if application.group %}{{ application.group.name }}{% else %}{{ application.pack.title }}{% endif %}
</td>

<td>
    {{ application.interview_date|date:"d M Y H:i" }}
</td>

<td>
    <a class="button is-small is-link"
       href="{% url 'start_interview' application.application_id %}">
        Start Interview
    </a>
</td>

</tr>

{% endwith %}

{% endfor %}


                        </tbody>


                    </table>

                </div>

            </div>

        </div>

    </div>

</section>


{% endblock %}

