{% extends "base.html" %}

{% block content %}

<h1>All Applications</h1>

<table border="1">
    <thead>
        <tr>
            <th>User</th>
            <th>Application ID</th>
            <th>Pack</th>
            <th>Answer 1</th>
            <th>Answer 2</th>
            <th>Answer 3</th>
            <th>Created At</th>
        </tr>
    </thead>
    <tbody>
        {% for application in applications %}
        <tr>
            <td>{{ application.user.username }}</td>
            <td>{{ application.application_id }}</td>
            <td>{{ application.pack }}</td>
            <td>{{ application.answer_1 }}</td>
            <td>{{ application.answer_2 }}</td>
            <td>{{ application.answer_3 }}</td>
            <td>{{ application.created_at }}</td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="7">No applications found.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>


{% endblock %}