{% extends "base.html" %}

{% block content %}

<br>

<section class="hero rr-primary">
  <div class="hero-body">
    <div class="container">
      <h1 class="title rr-white">Choose Your Application Pack</h1>
      <p class="rr-white">
        Select the role that best matches your application path
      </p>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">

    <div class="columns is-multiline">

      {% for pack in packs %}

      <div class="column is-one-third">
        <div class="box has-text-centered pack-card">
          <h2 class="title is-5 rr-primary">
            <p class = "has-text-white">{{ pack.title }}</p>
          </h2>

          <br>

          <p class="mb-4">
            {{ pack.description|safe }}
          </p>
          <small class="has-text-grey">
            Created: {{ pack.created_at|date:"d M Y" }}
          </small>
          <div class="mt-5">
            <a href="{% url 'applicant_form' pack.id %}">
                Open Pre-Interview Form
            </a>
          </div>

        </div>

      </div>

      {% empty %}
        <div class="column">
          <p>No application packs available.</p>
        </div>
      {% endfor %}

    </div>

  </div>
</section>

{% endblock %}