{% extends "base.html" %}

{% block content %}

<br>

<section class="hero rr-primary">
  <div class="hero-body">
    <div class="container">
      <h1 class="title rr-white">Create Application Pack</h1>
      <p class="subtitle rr-white is-size-6">
        Add a new evaluation track to the dashboard
      </p>
    </div>
  </div>
</section>

<section class="section">
  <div class="container is-max-desktop">

    <div class="card form-card">

      <header class="card-header">
        <p class="card-header-title">
          Application Details
        </p>
      </header>

      <div class="card-content">

        <form method="POST">
          {% csrf_token %}

          {% for field in form %}
            <div class="field">
              <label class="label">{{ field.label }}</label>

              <div class="control">
                {{ field }}
              </div>

              {% if field.errors %}
                <p class="help is-danger">
                  {{ field.errors|striptags }}
                </p>
              {% endif %}
            </div>
          {% endfor %}

          <div class="field is-grouped is-justify-content-flex-end mt-5">
            <p class="control">
              <a href="{% url 'applications' %}" class="button is-light">
                Cancel
              </a>
            </p>

            <p class="control">
              <button type="submit" class="button rr-primary is-medium">
                Save Pack
              </button>
            </p>
          </div>

        </form>

      </div>
    </div>

  </div>
</section>

{% endblock %}