{% load static %}

<nav class="navbar rr-secondary py-1" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="main-navbar-menu">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div id="main-navbar-menu" class="navbar-menu">
        <div class="container is-flex is-flex-grow-1 is-flex-shrink-0">
            <div class="navbar-start">
                {% if can_see_home %}
                <a class="navbar-item rr-white {% if home %}is-active{% endif %}" href="{% url 'home' %}">
                    Home
                </a>
                {% endif %}

                {% if can_see_applications %}
                <a class="navbar-item rr-white {% if applications %}is-active{% endif %}" href="{% url 'applications' %}">
                    Applications
                </a>
                {% endif %}

                {% if can_see_create_pack or can_see_add_question or can_see_create_category or can_see_applications %}
                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link rr-white">
                        More
                    </a>

                    <div class="navbar-dropdown">
                        {% if can_see_create_pack %}
                        <a class="navbar-item" href="{% url 'create_pack' %}">Create Pack</a>
                        {% endif %}
                        {% if can_see_add_question %}
                        <a class="navbar-item" href="{% url 'add_questions' %}">Add Questions</a>
                        <a class="navbar-item" href="{% url 'add_indicators' %}">Indicators</a>
                        <a class="navbar-item" href="{% url 'manage_genres' %}">Genres</a>
                        {% endif %}
                        {% if can_see_create_category %}
                        <a class="navbar-item" href="{% url 'categories' %}">Create Category</a>
                        {% endif %}
                        {% if can_see_applications %}
                        <a class="navbar-item" href="{% url 'application_review' %}">Application Review</a>
                        <a class="navbar-item" href="{% url 'accepted_applicants' %}">Accepted Applicants</a>
                        <a class="navbar-item" href="{% url 'candidate_dashboard' %}">Candidate Statistics</a>
                        {% endif %}
                        <a class="navbar-item" href="{% url 'help' %}">Help</a>
                    </div>
                </div>
                {% endif %}
            </div>

            <div class="navbar-end">
                <div class="navbar-item" style="display: flex; align-items: center;">
                    {% if user.is_authenticated %}
                    {% if user.is_superuser %}
                    <a class="button is-warning mr-2" href="{% url 'admin:index' %}">
                        <i class="fas fa-tools mr-1"></i>
                        <strong>&nbsp;Admin Interface</strong>
                    </a>
                    {% endif %}

                    <a class="button is-light mr-2" href="{% url 'inbox' %}" title="Inbox">
                        <i class="fas fa-inbox text-rr-primary"></i>
                    </a>

                    <a class="button is-light mr-2" href="{% url 'userprofile' %}">
                        <i class="fas fa-user-alt mr-1"></i>
                        <strong>&nbsp;{{ user }}</strong>
                    </a>

                    <form action="{% url 'logout' %}" method="post">
                        {% csrf_token %}
                        <button class="button is-danger is-light" value="Submit Query">
                            <i class="fas fa-sign-out-alt mr-1"></i>
                            <strong>Logout</strong>
                        </button>
                    </form>
                    {% else %}
                    <div class="buttons">
                        <a class="button is-light" href="{% url 'login' %}">
                            <i class="fas fa-sign-in-alt mr-1"></i>
                            <strong>Login</strong>
                        </a>
                    </div>
                    <div class="buttons">
                        <a class="button is-light" href="{% url 'signup' %}">
                            <i class="fas fa-user-plus mr-1"></i>
                            <strong>Sign Up</strong>
                        </a>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</nav>

<script>
    document.addEventListener('DOMContentLoaded', () => {
        const navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

        navbarBurgers.forEach(el => {
            el.addEventListener('click', () => {
                const target = el.dataset.target;
                const targetEl = document.getElementById(target);

                el.classList.toggle('is-active');
                targetEl.classList.toggle('is-active');
            });
        });
    });
</script>
