{% extends "base.html" %}

{% block content %}

<br>

<section class="hero rr-primary">
  <div class="hero-body">
    <div class="container">
      <h1 class="title rr-white">Add Questions</h1>
      <p class="rr-white">
        Create up to five assessment questions and assign them to a category.
      </p>
    </div>
  </div>
</section>

<main class="section">
    <div class="container question-container">

        <div class="question-card">

<!--            <div class="question-header">-->
<!--                <h1 class="title is-3">-->
<!--                    Add Questions-->
<!--                </h1>-->
<!--                <p class="subtitle is-6">-->
<!--                    Create up to five assessment questions and assign them to a category.-->
<!--                </p>-->
<!--            </div>-->

            <form method="post">
                {% csrf_token %}

                <div class="field">
                    <label class="label">Question 1</label>
                    {{ form.question_1 }}
                </div>

                <div class="field">
                    <label class="label">Question 2</label>
                    {{ form.question_2 }}
                </div>

                <div class="field">
                    <label class="label">Question 3</label>
                    {{ form.question_3 }}
                </div>

                <div class="field">
                    <label class="label">Question 4</label>
                    {{ form.question_4 }}
                </div>

                <div class="field">
                    <label class="label">Question 5</label>
                    {{ form.question_5 }}
                </div>

                <div class="field">
                    <label class="label">Category</label>
                    {{ form.category }}
                </div>

            <button type="submit" class="button rr-primary save-btn">
                Save Questions
            </button>

            </form>

        </div>

    </div>
</main>

{% endblock %}
